<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AudioApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AudioApp.Properties.Settings>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicRecordWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicRecordWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicRecordWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MicRecordWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPlayWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPlayWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPlayWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPlayWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AudioPlayFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LoopbackCaptureWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoopbackCaptureWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoopbackCaptureWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoopbackCaptureWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicExplorerWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicExplorerWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicExplorerWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicExplorerWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicExploreAlbumListWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicExplorerFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicExplorerOuterPlayer" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestAudioWindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestAudioWindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestAudioWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestAudioWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabInfoWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabInfoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabInfoTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TabInfoLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TestAudioFileFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicExploreFIleCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="MusicExploreAlbumFileUse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MusicExploreDispArtistType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MusicExploreUseMediaPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FindPlayerWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPlayerHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPlayerTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FindPlayerLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverViewTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverViewLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverViewWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverViewHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CoverViewFontSize" serializeAs="String">
                <value>0</value>
            </setting>
        </AudioApp.Properties.Settings>
    </userSettings>
</configuration>